//
//  Configuration.xcconfig
//  TestApp
//
//  Created by Rokon on 5/4/20.
//  Copyright © 2020 testCompany. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

XCC_BUNDLE_NAME = TestApp-Develop
XCC_CONFIG_PATH = Develop/BuildConfiguration.plist
